<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Task Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "users:list" %}">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "users:profile" %}">Hi, {{request.user.username}}</a>
          </li>
        </ul>
        <button type="button" class="btn btn-danger" onclick="logOut()">Log out</button>
      </div>
    </div>
  </nav>  

<script>
function getCookie(key) {
    key = key + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for(let i = 0; i <ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(key) == 0) {
        return c.substring(key.length, c.length);
      }
    }
    return undefined;
}

function logOut() {
  const csrfToken = getCookie('csrftoken');
	try {
		fetch("{% url 'auth:rfu:logout' %}", {
			method: "POST",
      headers: {
      'X-CSRFToken': csrfToken
    }
		}).then((response) => {
      document.location.href = "{% url 'home' %}";
		});
	} catch (e) {
		console.error(e);
	}
}
</script>

<div class="container">
  {% block content %}
  {% endblock %}
</div>
</body>
</html>